<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {{ if .UsernameTaken }}
    <h2>username already taken</h2>
    {{ end }}

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="text" name="firstname" placeholder="firstname">
        <br>
        <input type="text" name="lastname" placeholder="lastname">
        <br>
        <input type="text" name="age" placeholder="age">
        <br>
        <select name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <br>
        <a href="/login">Login</a>
        <button type="submit">Register</button>
    </form>
</body>
</html>