<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Update User</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="username" value="{{ .Username }}">
        <br>
        <input type="password" name="oldpassword" placeholder="Old password">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="password" name="passwordconfirmation" placeholder="Confirm password">
        <br>
        <input type="text" name="firstname" placeholder="firstname" value="{{ .FirstName }}">
        <br>
        <input type="text" name="lastname" placeholder="lastname" value="{{ .LastName }}">
        <br>
        <input type="text" name="age" placeholder="age" value="{{ .Age }}">
        <br>
        <select name="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
        <br>
        <input type="file" name="profilepicture">
        <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>