<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Hello World!</title>
</head>
<body>
<ul>
{{ range $index, $value := . }}
<li>{{$index}} - {{$value.Name}}: {{ $value.Motto}}</li>
{{ end }}
</ul>
</body>
</html>
